@model Redis.ViewModels.HomeLogoutViewModel
@{
    ViewData["Title"] = "Logout";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <p class="text-center">Are you sure you want to logout?</p>
            <div class="d-flex align-items-center justify-content-center">
                <form method="post" asp-controller="Home" asp-action="LogoutUser">
                    <button class="btn btn-primary mr-1" type="submit">Yes</button>
                </form>
                <form method="post" asp-controller="Home" asp-action="DontLogoutUser">
                    <button class="btn btn-light ml-1 border-dark" type="submit">No</button>
                </form>
            </div>
        </div>
    </div>
</div>
